@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <section class="article-section">
        <div class="container">
            <div class="section-title">Article & News</div>
            <div class="browse-news">
                <h2>Get Every Single Articles & News</h2>
                <a class="btn-outline-dark" href="#">Browse Articles<i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="articles">
                <a href="#" class="article">
                    <div class="article-date">
                        <div class="day">25</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="images/placeholders/Digitalization.svg" alt="">
                    <p>Business</p>
                    <h5>How To Use Digitalization In The Classroom</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="#" class="article">
                    <div class="article-date">
                        <div class="day">17</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="images/placeholders/Chat-GPT.svg" alt="">
                    <p>Business</p>
                    <h5>How To Implement Chat GPT In Your Projects</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="#" class="article">
                    <div class="article-date">
                        <div class="day">13</div>
                        <div class="month">Mar</div>
                    </div>
                    <img src="images/placeholders/CSS-Design.svg" alt="">
                    <p>Business</p>
                    <h5>The Guide To Support Modern CSS Design</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
            </div>
            <div class="dot-circles">
                <div class="dot-circle active"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
            </div>
        </div>
    </section>