@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="team-section">
        <div class="container">
            <div class="section-title">Meet Our Team</div>
            <div class="browse-team">
                <h2>Experience Team Members</h2>
                <a class="btn-outline-dark" href="#">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="team-members">
                <div class="member">
                    <img src="images/placeholders/Kristine-Palmer.svg" alt="">
                    <h5>Kristine Palmer</h5>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="member">
                    <img src="images/placeholders/Mark-Aubri.svg" alt="">
                    <h5>Mark Aubri</h5>
                    <p>Senior Consultant</p>
                </div>
                <div class="member">
                    <img src="images/placeholders/Kimberly-Hansen.svg" alt="">
                    <h5>Kimberly Hansen</h5>
                    <p>Senior Consultant</p>
                </div>
                <div class="member">
                    <img src="images/placeholders/Justin-Willoman.svg" alt="">
                    <h5>Justin Willoman</h5>
                    <p>Senior Tech Consultant</p>
                </div>
            </div>
            <div class="dot-circles">
                <div class="dot-circle active"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
                <div class="dot-circle"></div>
            </div>
        </div>
    </section>