@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
    var content = (ContentModels.ProjectsServices)Model.Content;
    var projectImage = content.Value<IPublishedContent>("projectServicesImage");
}


<a href="@content.Value("projectServicesButtonUrl")" class="project">
    <img src="@projectImage.Url()" alt="">
    <h5>@content.Value("projectServicesTitle")</h5>
    <p>@content.Value("projectServicesButton")<i class="fa-regular fa-arrow-up-right"></i></p>
</a>


